:root{
    --bg:#FFFCDD;
    --primary:#0C1331;
    --secondary:#E4E424;
    --high-bleu: #247EE4;
    --mid-blue:#34459C;
    --light-blue: #EAEFFF;
}
.navie{
    display: flex;
    gap: 10%;
    margin: 5%;
    margin-top: 2%;
    align-items: center;
      font-weight: 500;
   
    
}





li {
  text-decoration: none;
  list-style-type: none;
}

/* Layout */
.active{
     color: var(--high-bleu);
}

.navbtns{
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 1vw;
  padding: 4%;
  padding-left: 8%;
  padding-right:8% ;

}









































